@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

html, body {
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}

/* LTMuseum font faces */
@font-face {
  font-family: 'LTMuseum';
  src: url('./assets/fonts/LTMuseum-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'LTMuseum';
  src: url('./assets/fonts/LTMuseum-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'LTMuseum';
  src: url('./assets/fonts/LTMuseum-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LTMuseum';
  src: url('./assets/fonts/LTMuseum-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'LTMuseum', sans-serif;
}


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}
